.box-movies-swiper :is(.swiper-button-prev, .swiper-button-next) {
  height: 100%;
  top: 22px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
}

.box-movies-swiper .swiper-button-prev {
  right: 0 !important;
}

.box-movies-swiper .swiper-button-next {
  left: 0 !important;
}

.loading-box-movies span[aria-live="polite"] {
  display: flex;
}
