@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292929;
  --primary-color: #ffcc33;
}

body {
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}
