@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292929;
  --primary-color: #ffcc33;
}

body {
  background-color: var(--background);
}

.main-content-area {
  background-image: linear-gradient(
      45deg,
      rgba(19, 22, 28, 0.8) 90%,
      rgba(41, 42, 44, 0) 10%
    ),
    url("/images/sliders/penguin.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

span:has(> span.loading-box-movies-title) {
  display: flex;
  justify-content: end;
}
