.box-movies-swiper :is(.swiper-button-prev, .swiper-button-next) {
  height: 100%;
  top: 22px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
}

.box-movies-swiper .swiper-button-prev {
  right: 0 !important;
}

.box-movies-swiper .swiper-button-next {
  left: 0 !important;
}

.loading-box-movies span[aria-live="polite"] {
  display: flex;
}

@media (max-width: 768px) {
  .box-movies-swiper :is(.swiper-button-prev, .swiper-button-next) {
    padding: 10px 20px;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 25px;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 25px;
  }
}
